
:root{
  --Def_opacity:0.5;
}
/* Target the entire scrollbar */
::-webkit-scrollbar {
  /* Making the scrollbar "display none" so when the customer will land on the page he wont be able to use scroll effect throughout the webpage..   */
  /* display: none;  */
  width: 12px; /* Change the width of the scrollbar */
  height: 12px; /* Change the height for horizontal scrollbar */
}

/* Target the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219); /* Change the background color of the track */
  opacity: 0.1;
}

/* Target the scrollbar thumb (handle) */
::-webkit-scrollbar-thumb {
  background-color: #a3a3a3; /* Change the color of the thumb */
  filter: brightness(100%);  
  border-radius: 10cm; /* Optional: Add rounded corners to the thumb */
  border: 2px solid  #a3a3a3; /* Optional: Add a border around the thumb to create padding effect */
  z-index: 100;
  color: #c5c5c5;
}

/* Change the thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #989898; /* Change the thumb color on hover */
  border:1px solid  #989898 ;
}
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
#BackGround {
  position: sticky;
  width: 100vw;
  height: 100vh;
  background-image: url("/public/pexels-pixabay-39284.jpg"); /* Adjust path if needed */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  opacity: 0.9;
}

nav ul{
  display: flex;
  flex-direction: row;
  height:8vh;
  z-index: 2;
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  width: 100vw;
  list-style-type: none;
  box-shadow: 1px 1px 5px 5px rgb(204, 204, 204);
}
nav .Nom{
  color: white;
  position: relative;
  left: 25cm;
  padding:0.5cm 1cm;
  font-weight: 700;
  font-size:17px;
}

.Nom:hover{
  cursor: pointer;
}

#Logo{
  cursor:pointer;
}
#Logo img{
  width: 60px;
  margin-left: 1px;
  height: 60px;
  position: sticky;
  background-color: white;
  border-radius: 5cm;
}
.BTN{
  position: relative;
  bottom: 0.9cm;
  left:5cm;
  padding:0.4cm 0.5cm;
}
.BTN button{
  padding:0.2cm 0.5cm;
  position: relative;
  border-radius: 0.1cm;
  background-color: aquamarine;
  border: 0.1px solid white;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
} 


.Authentication{
  height:80vh ;
  border-radius: 0.2cm;
  width: 35vw ;
  z-index: 1;
  position: relative;
  left: 32vw;
  margin-top: 2.5cm;
  background-color: black;
  /* we need to disable this display:none feature */
  display: none;
  opacity: 0.7; 
  color: white;
  top:1vh;
  box-shadow: 1px 1px 5px 5px rgb(159, 159, 159);
  border: 1px solid rgb(0, 0, 0);
}
.Authentication #Heading{
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
  margin-top: 0.2cm;
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-thickness:3px;
  font-weight: 700; 
}
.Authentication p{
  margin-top: 0.5cm;
  margin-left: 0.5cm ;
  margin-right:0.5cm ;
}
#Heading:hover{
  cursor:pointer;
  color: rgb(93, 214, 255);
  text-decoration-color:  rgb(93, 214, 255);
}

form{
  position: relative;
  left: 1cm;
  top: 1cm;
}
form input::placeholder{
  color: rgb(0, 0, 0);
  font-size:18px;
  font-weight: 750;
  padding: 0cm -10cm;
}
form input{
  padding: 0.3cm 4cm;
  position: relative;
  margin-bottom: 0.5cm;
  bottom:0.9cm;
  color: black;
  border-radius: 0.1cm;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  border: 0.1px solid white;
}
#last{
  width: 32vw;
  position: relative;
}
#last::after{
  content: " Read More....";
  font-weight: 700;
  color: whitesmoke;
}
#last:hover{
  cursor: pointer;

}
#tick{
  margin-left:0.1cm ;
  margin-right: 0.5cm;
}
form li{
  padding-bottom: 0.1cm ;
}
form ul{
  list-style-type: none;
}
.YourNotes button:hover{
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.red{
  color:rgb(255, 97, 97);
  text-align: left;
}
#SN{
  padding: 0.2cm 0.8cm;
  border-radius: 0.1cm;
  border: 0.1px solid blue;
  background-color: rgb(0, 0, 255);
  margin-left:4cm;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
#SN:hover{
  cursor: pointer;
  border-color: rgb(47, 47, 255);
  background-color: rgb(47, 47, 255);
} 
#SN_2{
  padding: 0.2cm 0.8cm;
  border-radius: 0.1cm;
  border: 0.1px solid blue;
  background-color: rgb(0, 0, 255);
  margin-left:4cm;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
#SN_2:hover{
  cursor: pointer;
  border-color: rgb(47, 47, 255);
  background-color: rgb(47, 47, 255);

}
hr{
  margin-top: 2.82cm;
}
#Load{
  margin-right: 2cm;
  text-align: center;
  justify-content: center;
}
.YourNotes{
  width: 50vw;
  min-height: 90vh;
  height: auto;
  position: relative;
  top:3cm;
  /* we need to disable this display:none feature */
  display: none;
  left:9.5cm; 
  border-radius: 0.2cm;
  background-color: black;
  opacity:0.7;
  box-shadow: 1px 1px 5px 5px rgb(159, 159, 159);
  border:0.1px solid black;
}

.YourNotes ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
#Headd{
  color: white;
  font-weight: 700;
  position: relative;
  top: 0cm;
  left:7.5cm ;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}
.Authentication p{
  margin-bottom: 1cm;
}
#Headd:hover{
  cursor: pointer;
}
.TaskList input{
  width: 29.7vw;
  border:0.1px solid white;
  border-radius: 0.1cm;
  position: relative;
  right:1cm;
  height: 2vh;
  
}
.Question{
  position: relative;
  top: 10cm;
  left: 16.5cm;
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  z-index: 3;
}
.Question button{
  font-size: 20px;
  font-weight: 500;
  padding: 0.1cm 0.5cm;
  border-radius: 0.2cm;
  background-color: rgb(0, 0, 255);
  color: white;
  margin-top: 0.3cm;
  border: 0.1px solid rgb(47, 47, 255);
  margin-right: 2cm;
}
.Question button:hover{
  cursor: pointer;
  border-color: rgb(47, 47, 255);
  background-color: rgb(47, 47, 255);
  transition: all 0.2s;

}
.OldCustomerAuth{
  height:50vh ;
  border-radius: 0.2cm;
  width: 35vw ;
  z-index: 1;
  position: relative;
  left: 32vw;
  display: none;
  margin-top: 2.5cm;
  background-color: black;
  opacity: 0.7; 
  color: white;
  top:1vh;
  box-shadow: 1px 1px 5px 5px rgb(159, 159, 159);
  border: 1px solid rgb(0, 0, 0);
}
.OldCustomerAuth #Title{
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
  margin-top: 0.2cm;
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-thickness:3px;
  font-weight: 700; 
}
#Title:hover{
  cursor:pointer;
  text-decoration-color:  rgb(93, 214, 255);
}
.OldCustomerAuth label{
  position: relative;
  top: 0.3cm;
  right: 0.8cm;
  font-size: 20px;
  font-weight: 500;
}


.OldCustomerAuth input{
  width: 10cm;
  padding: 0.1cm 0.4cm;
  position: relative;
  margin-bottom: 1cm;
  border-radius: 0.1cm;
  border: 0.1px solid white;
  right: 0.5cm;
  top: 0.3cm;
}
.Enter{
  position: relative;
  top: 1cm;
  align-items: center;
}
.TaskList .Tags{
  display: flex;
  margin-top: 0.5cm;
  flex-direction: column;
}
#Final_Pass{
  display: flex;
  flex-direction: row;
}
#Final_Pass label{
  color: rgb(255, 255, 255);
  font-size: 17px;
  position: relative;
  right: 1cm;
  font-weight: 600;
  bottom: 0.8cm;
}
#Final_Pass input{
  color:black;
  min-width: 3cm;
  width: auto ;
  position: relative;
  right: 0.8cm;
  height: 4px;
}
#Load_2{
  color: white;
  text-align: center;
}
#CHANGE{
  padding:0.2cm 0.5cm;
  position: relative;
  left:6cm;
  bottom:0.5cm;
  border-radius: 0.1cm;
  background-color: aquamarine;
  border: 0.1px solid white;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  
}
#CHANGE:hover{
  background-color: white; ;
}

#fetch{
  position: relative;
  bottom:1.15cm;
  background-color: aquamarine;
  border-radius: 0.2cm;
  padding: 0.1cm 0.2cm;
  font-weight: 700;
}
#fetch:hover{
  background-color: white; ;
}

