
:root{
  --Def_opacity:0.2;
}
/* Target the entire scrollbar */
::-webkit-scrollbar {
  /* Making the scrollbar "display none" so when the customer will land on the page he wont be able to use scroll effect throughout the webpage..   */
  /* display: none;  */
  width: 12px; /* Change the width of the scrollbar */
  height: 12px; /* Change the height for horizontal scrollbar */
}

/* Target the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219); /* Change the background color of the track */
  opacity: 0.1;
}

/* Target the scrollbar thumb (handle) */
::-webkit-scrollbar-thumb {
  background-color: #a3a3a3; /* Change the color of the thumb */
  filter: brightness(100%);  
  border-radius: 10cm; /* Optional: Add rounded corners to the thumb */
  border: 2px solid  #a3a3a3; /* Optional: Add a border around the thumb to create padding effect */
  z-index: 100;
  color: #c5c5c5;
}

/* Change the thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #989898; /* Change the thumb color on hover */
  border:1px solid  #989898 ;
}
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  scroll-behavior: smooth;
}
nav{
  color: black;
  z-index: 2;
  position: sticky;
  top: 0;
  box-shadow: 1px 1px 5px 5px rgb(181, 181, 181);
}
.navbar-brand{
  font-weight: 700;
  font-style:italic;
}
.Hovering:hover{
  cursor: pointer;
}

#BG__{
  width: 100vw;
  height: 91.4vh;
  background: url("../public/pexels-pixabay-209831.jpg") ;
  background-size:cover;
  background-position:bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#BG__ h1{
  font-size:30px;
  position: absolute;
  left:16cm;
  top: 4cm;
}
.Cards{
  position: relative;
  left: 5.5cm;
  top: 5cm;
  width: 70vw;
  border-radius: 0.2cm;
  height: 60vh;
  border: 0.1px solid rgb(71, 71, 71);
  display: flex;
  flex-direction: row;
}

.Card{
  position: relative;
  left: 1cm;
  top: 1.5cm;
  margin-right: 15px;
  border-radius: 0.2cm;
  color:white;
  opacity: 0.7;
  background-color: black;
  width: 21vw;
  height: 45vh;
  border: 0.1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 5px 5px rgb(181, 181, 181);
}

.Card:hover{
  transform:translateZ(20px) scale(1.05);
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.Card h3{
  text-align: center;
  padding-bottom: 0.5cm;
  border-radius: 0.1cm;
  width: 20.9vw;
  background-color: rgb(63, 63, 63);
}
.Card h2{
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5cm;
}
.Red{
  color: red;
}
.Card ul{
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5cm;
}
.Card li{
  padding-bottom: 0.5cm;
  font-size: 20px;
}
